 <!-- Navigation -->
 <app-navigation></app-navigation>

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
            <form class="form-signin">
              <label for="inputFirstname">Primer Nombre</label>
              <div class="form-label-group">
                <input  [(ngModel)]="this.firstname" [ngModelOptions]="{standalone: true}" type="text" id="inputFirstname" class="form-control" required autofocus>
              </div>
              <label for="inputSecondname">Segundo Nombre</label>
              <div class="form-label-group">
                <input [(ngModel)]="this.lastname" [ngModelOptions]="{standalone: true}" type="text" id="inputSecondname" class="form-control"  required autofocus>
              </div>
              <label for="inputEmail">Email address</label>
              <div class="form-label-group">
                <input [(ngModel)]="this.email" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail" class="form-control"  required>
              </div>
              <label for="inputNumber">Numero de telefono</label>
              <div class="form-label-group">
                <input [(ngModel)]="this.tel" [ngModelOptions]="{standalone: true}" type="number" id="inputNumber" class="form-control"  required>
              </div>
              <label for="inputBirthdate">Fecha de Nacimiento</label>
              <div class="form-label-group">
                <input [(ngModel)]="this.birthdate" [ngModelOptions]="{standalone: true}" type="date" id="inputBirthdate" class="form-control"  required autofocus>
              </div>
              <hr>
              <label for="inputPassword">Password</label>
              <div class="form-label-group">
                <input [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword" class="form-control"  required>
              </div>
              <label for="inputConfirmPassword">Confirmar password</label>
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" required>
              </div>
              <button (click) = "regUser()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrarse</button>
              <a class="d-block text-center mt-2 small" href="#">Sign In</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i>Ir al login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>