
<app-admin-nav-bar></app-admin-nav-bar>
 <!-- Page Wrapper -->
 <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
         
         <!-- Main Content -->
         <div id="content">
            
				<!-- Begin Page Content -->
				<div class="container-fluid">
					
					<div class="card demo-icons">
						<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold"><i class="fa fa-tags"></i> Gestor de Usuarios</h6>
							<div class="dropdown no-arrow">
								<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-bars fa-sm fa-fw text-gray-400"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
									<div class="dropdown-header">Men&uacute;</div>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="../menu.php"><i class="fas fa-list-ul"></i> Inicio</a>
								</div>
							</div>
						</div>
						<div class="card-body all-icons">
							<div class="row">
								<div class="col-md-6 text-left">
									<button type="button" class="btn btn-light btn-icon-split btn-sm" onclick="window.history.back();" >
										<span class="icon text-white-50"><i class="fa fa-chevron-left"></i></span>
										<span class="text">Atr&aacute;s</span>
									</button>
								</div>
								<div class="col-md-6 text-right"><label class = " text-danger">* Campos Obligatorios</label> </div>
							</div>
							<br>
							<div class="row" >
								<div class="col-md-6">
									<label>Primer Nombre:</label> <span class="text-danger">*</span>
									<input [(ngModel)]="this.firstname" [ngModelOptions]="{standalone: true}" type = "text" class="form-control" />
									<input type = "hidden" name = "codigo" id = "codigo" />
									<label>Segundo Nombre:</label> <span class="text-danger">*</span>
									<input [(ngModel)]="this.lastname" [ngModelOptions]="{standalone: true}" type = "text" class="form-control" />
									<label>Email:</label> <span class="text-danger">*</span>
									<input [(ngModel)]="this.email" [ngModelOptions]="{standalone: true}" type = "text" class="form-control" />	
									<div *ngIf = "!selected">
										<label>Password:</label> <span class="text-danger">*</span>
										<input [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}" type = "password" class="form-control" />	
										<label>Confirmar Passowrd:</label> <span class="text-danger">*</span>
										<input type = "password" class="form-control" />	
									</div>
								</div>
								<div class="col-md-5">
									<label>Numero de telefono:</label> <span class="text-danger">*</span>
									<input [(ngModel)]="this.tel" [ngModelOptions]="{standalone: true}" type = "number" class="form-control" name = "nombre" id = "nombre"  />
									<label>Fecha de nacimiento:</label> <span class="text-danger">*</span>
									<input [(ngModel)]="this.birthdate" [ngModelOptions]="{standalone: true}" type = "date" class="form-control" name = "nombre" id = "nombre"  />				
									<label>Tipo de usuario:</label> <span class="text-danger">*</span>
									<div>
										<select id="type" [(ngModel)]="this.type">
											<option value="U">Usuario</option>
											<option value="A">Administrador</option>
											<option value="H">Servicio de Ayuda</option>
										</select>
									</div>
									<label>Genero:</label> <span class="text-danger">*</span>
									<div>
										<select id="type" [(ngModel)]="this.genre">
											<option value="M">Masculino</option>
											<option value="F">Femenino</option>
											<option value="N">No aplica</option>
										</select>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" class="btn btn-secondary btn-sm" id = "btn-limpiar" (click)="clean()"><span class="fa fa-eraser"></span> Limpiar</button>
									<button *ngIf = "!selected" type="button" class="btn btn-primary btn-sm" id = "btn-grabar" (click)="regUser()"><span class="fa fa-save"></span> Grabar</button>
									<button *ngIf = "selected" type="button" class="btn btn-primary btn-sm" id = "btn-modificar" (click)="edit()"><span class="fa fa-save"></span> Grabar</button>
								</div>
							</div>
							<hr>
							<div class="row" *ngIf = "!selected">
								<table class="table table-striped" id="tabla" width="100%" cellspacing="0" >
									<thead>
										<tr>
											<th class = "text-center" width = "50px"><i class="fas fa-cogs"></i></th>
											<th class = "text-center" width = "20px">Email</th>
											<th class = "text-left" width = "250px">Nombre</th>
											<th class = "text-left" width = "250px">Contacto</th>
											<th class = "text-left" width = "250px">Clase</th>
											<th class = "text-left" width = "100px">Estado</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let user of users">
											<td class = "text-center">
												<div class="btn-group">
													<button type="button" class="btn btn-secondary btn-sm" title = "Editar Categoria" (click)="select(user)" ><i class="fa fa-pencil-alt"></i></button>
													<button type="button" class="btn btn-danger btn-sm" title = "Eliminar Categoria" (click)="remove(user)"><i class="fa fa-eraser"></i></button>
												</div>
											</td>
											<td class = "text-left">
												{{user.email}}
											</td>
											<td class = "text-left">
												{{user.firstname + " " + user.lastname}}
											</td>
											<td class = "text-left">
												{{user.tel}}
											</td>
											<td class = "text-left">
												{{user.class}}
											</td>
											<td class = "text-left">
												{{user.disp}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<br>
						</div>
					</div>
					<br>
				</div>
				<!-- /.container-fluid -->
				
			</div>
         <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->