

  <!-- Cards -->
  <app-cards></app-cards> 

  <!-- Page Content -->
  <div class="container">
    <div class="img-container">
        <img src = "../../assets/logo.png">
    </div>
    <!-- Marketing Icons Section -->
   <app-marketing></app-marketing>

    <!-- Portfolio Section -->
    <app-portfolio></app-portfolio>

    <!-- Features Section -->
    <app-features></app-features>

	<!-- Separator -->
	<hr>

    <!-- Call to Action Section -->
    <app-action></app-action>

  </div>
  <!-- /.container -->



