<div class="row">
    <div class="col-lg-6">
      <h2>Presentacion de Alie-Sell</h2>
      <p>Compra rápido, obtén rápido.</p>
      <ul>
        <li>
          <strong>Tu tienda online</strong>
        </li>
        <li>¿Quienes Somos?</li>
        <li>¿Que hacemos?</li>
        <li>¿Porque lo hacemos?</li>
        <li>Beneficios de estar con nosotros</li>
      </ul>
     </div>
    <div class="col-lg-6">
      <iframe width="700" height="450"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
    </div>
  </div>
