<div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Mision</h4>
        <div class="card-body">
          <p class="card-text">Implementar un sistema de compras con lo ultimo en tecnologia para brindar un servicio adecuado y eficiente a nuestros usuarios.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Vision</h4>
        <div class="card-body">
          <p class="card-text">Lograr abarcar diferentes tipos de mercado a nivel nacional llegando así a que todos nuestro usuarios sientan preferencia y satisfacción por nosotros.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Acerca de nosotros</h4>
        <div class="card-body">
          <p class="card-text">Somos una empresa de ventas online, que utiliza un servicio de entregas hasta la puerta de tu casa, cubriendo cualquier necesidad que te puedas imaginar.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
      </div>
    </div>
  </div>
