<app-admin-nav-bar></app-admin-nav-bar>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid">
              <h1 class="mt-4">Administrador</h1>
              <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active">Reportes</li>
              </ol>
              <app-admin-cards></app-admin-cards>
              <div class="row">
                  <div class="col-xl-6">
                      <div class="card mb-4">
                          <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Realizar Carga Masiva</div>
                          <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                            <div>
                                <input type="file" (change) = "onFileSelected($event)" style="display: none" #fileInput>
                                <button class ="btn_a" (click)="fileInput.click()">Seleccionar Archivo</button>
                            </div>
                            <div >
                                <button class="btn_a" style="background-color: blue;" (click)="onUpload()" >Todo listo</button>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6">
                      <div class="card mb-4">
                          <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                          <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                      </div>
                  </div>
              </div>
              <div class="card mb-4">
                  <div class="card-header"><i class="fas fa-table mr-1"></i>Servicios de ayuda</div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Position</th>
                                      <th>Office</th>
                                      <th>Age</th>
                                      <th>Start date</th>
                                      <th>Salary</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>Name</th>
                                      <th>Position</th>
                                      <th>Office</th>
                                      <th>Age</th>
                                      <th>Start date</th>
                                      <th>Salary</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td>Tiger Nixon</td>
                                      <td>System Architect</td>
                                      <td>Edinburgh</td>
                                      <td>61</td>
                                      <td>2011/04/25</td>
                                      <td>$320,800</td>
                                  </tr>
                                  <tr>
                                      <td>Garrett Winters</td>
                                      <td>Accountant</td>
                                      <td>Tokyo</td>
                                      <td>63</td>
                                      <td>2011/07/25</td>
                                      <td>$170,750</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
              <div class="d-flex align-items-center justify-content-between small">
                  <div class="text-muted">Copyright &copy; Your Website 2019</div>
                  <div>
                      <a href="#">Privacy Policy</a>
                      &middot;
                      <a href="#">Terms &amp; Conditions</a>
                  </div>
              </div>
          </div>
      </footer>
  </div>
</div>