
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor = "let prod of products">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{prod.description}}</a>
            </h4>
            <h5>Q.{{prod.price}}</h5>
            <p class="card-text">Existencia: {{prod.cant}}</p>
            <p class="card-text">Colores: {{prod.colors}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
    <!-- /.row -->