<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Puntuacion servicios de ayuda</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="createPdf()">Generar PDF</button>
                
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                Servicios de ayuda que hayan nacido despues de
                <input [(ngModel)]="this.parm" [ngModelOptions]="{standalone: true}" type="date" >
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="secondReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                Administradoras nacidas antes de
            <input [(ngModel)]="this.parm" [ngModelOptions]="{standalone: true}" type="date" >
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="thirdReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Top clientes con mas ganancias:</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Productos con Puntuacion de X estrellas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Top 3 productos mas vendidos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Top 3 clientes con mas productos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Listado de productos y categorias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Comentarios a productos hechos en</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                Productos con cantidad disponible de
                <input [(ngModel)]="this.pari" [ngModelOptions]="{standalone: true}" type="number" >
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Top 3 producto con peor puntuacion</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <button  (click)="tenthReport()">Generar PDF</button>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
  </div>
