<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://fbcd.co/images/products/e8426b57ba78a8d52977d192faa89f69_resize.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Ropa con diseño unico</h3>
            <p>Diseños personalizados para tus atuendos.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://cdn.portobellostreet.es/imagenes_muebles/Muebles-Mueble-tv-moderno-Tana.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Hogar</h3>
            <p>Accesorios de ultima generación para tu hogar.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE2yoHs?ver=19ea')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Accesorios Gamers</h3>
            <p>Accesorios unicos para tu consola de videojuegos.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>